<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link href="test.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="dropdown">
    <input id="myTextarea" placeholder="Click here to select" readonly>
    <div id="dropdownContent" class="dropdown-content">
      <div id="selectPlaceholder">Please select:</div>
      <option value="0">Option 1</option>
      <option value="1">Option 2</option>
      <option value="3">Option 3</option>
    </div>
  </div>
  <div class="corporations" id="corp-id">
    <p class="question">Choose who consume your money!</p>
    <input type="radio" name="Amazon" id="amazon">
    <input type="radio" name="Google" id="google">
    <input type="radio" name="Microsoft" id="microsoft">
    <script src="../src/questions.js"></script>
  </div>
</body>

</html>
